/* Main */
html {
  font-size: 1.1rem;
}
body {
  background-color: #efefef;
  color: #1A2966;
  font-family: 'Bree Serif', serif;
  text-align: center;
  min-width: 19em;
}
.wrapper {
  width: 100%;
  max-width: 100%;
  padding: 0 1rem;
}
main {
  margin: 8em auto 2rem;
  max-width: 100%;
}
a {
  color: #1A2966;
}
a:hover {
  color: #DC554F;
}
.navigation {
  font-size: 1.1rem;
}
footer {
  font-family: 'Rubik', sans-serif;
  font-size: .9rem;
  display: block;
  margin: 3rem 0;
  padding-left: 2rem;
  line-height: 2rem;
}
footer a {
  text-decoration: none;
}
#nav-contact .nav-contact a,
#nav-publications .nav-publications a,
#nav-resume .nav-resume a {
  color: #DC554F;
}

/* Home */
p {
  text-align: center;
  font-size: 1.3rem;
  font-size: clamp(1.3rem, 0.6rem + 2.8vw, 2rem);
  font-family: 'Bree Serif', serif;
}
.under-position {
  position: relative;
}
.under {
  position: absolute;
  top: 2.2em;
  left: -12em;
  font-size: .5em;
  line-height: 1em;
  width: 10em;
  color: #DC554F;
  font-family: 'Dancing Script', cursive;
  text-align: right;
}
.emoji {
  width: 1.2em;
  height: 1.2em;
}
#prexel, #california {
  margin-left: .2em;
}
 #dog {
   margin-left: .4em;
 }
 #boba {
   margin-left: -.2em;
 }

/* Contact */
#contact ul {
  list-style: none;
  padding-left: 2rem;
}
#contact li {
  line-height: 2rem;
  padding: .4rem 0;
}
.social-container {
  position: relative;
}
.social-container:hover {
  color:#DC554F;
}
.social-icon {
  display: inline-block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: -2.5rem;
}
#linkedin {
  background: url("../img/linkedin.png") no-repeat;
  background-size: 2em;
}
.social-container:hover #linkedin {
  background: url("../img/linkedin-hover.png") no-repeat;
  background-size: 2em;
}
#twitter {
  background: url("../img/twitter.png") no-repeat;
  background-size: 2rem;
}
.social-container:hover #twitter {
  background: url("../img/twitter-hover.png") no-repeat;
  background-size: 2rem;
}
#instagram {
  background: url("../img/instagram.png") no-repeat;
  background-size: 2rem;
}
.social-container:hover #instagram {
  background: url("../img/instagram-hover.png") no-repeat;
  background-size: 2rem;
}
#powerpage {
  background: url("../img/powerpage.png") no-repeat;
  background-size: 2rem;
}
.social-container:hover #powerpage {
  background: url("../img/powerpage-hover.png") no-repeat;
  background-size: 2rem;
}
#email {
  background: url("../img/email.png") no-repeat;
  background-size: 2rem;
}
.social-container:hover #email {
  background: url("../img/email-hover.png") no-repeat;
  background-size: 2rem;
}
#jason-email {
  display: inline-block;
  position: inherit;
  top: .5rem;
  width: 8rem;
  line-height: 2rem;
  background: url("../img/jason-email.png") no-repeat;
  background-size: 8rem;
}
.social-container:hover #jason-email {
  background: url("../img/jason-email-hover.png") no-repeat;
  background-size: 8rem;
}

/* Publications */
#publications ul {
  list-style: none;
  width: 20rem;
  margin: 0 auto;
  padding: 0;
}
#publications li {
  height: 5rem;
}
#publications img {
  height: 5rem;
  width: auto;
  margin: 0 1rem;
  vertical-align: top;
}
#publications a {
  width: 10rem;
  height: 5rem;
  display: inline-block;
  margin-top: 1rem;
}
#publications a.publication-long {
  margin-top: 0;
}

/* Resume */
#resume {
  max-width: 30rem;
}
#resume ul {
  text-align: left;
}
#resume li {
  margin-bottom: .5rem;
}
#resume h1 {
  font-size: 1.8rem;
}
#resume h2 {
  font-size: 1.2rem;
  margin: 1rem auto 0;
  color: #DC554F;
}
#resume h3 {
  margin: 0 auto;
}
#resume h4 {
  margin: 0 auto;
  font-family: 'Rubik', sans-serif;
}
#resume h4#address {
  margin: 3rem auto 0;
}
