/* Main */
:root {
  --main: #172840;
  --feature: #d3fafc;
  --alt: #DC554F;
  --highlight: #14bec3;
  --background: #e4ffff;
}

html {
  font-size: 1.3rem;
}
body {
  background-color: var(--background);
  color: var(--main);
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  text-align: center;
  min-width: 370px;
}
.wrapper {
  width: 100%;
  max-width: 100%;
  padding: 0 .5rem;
}
main {
  margin: 2rem auto;
  max-width: 100%;
}
h1 {
  font-family: Dancing Script;
  font-size: 1.4rem;
  font-size: clamp(1.4rem, -0.1rem + 5vw, 2.4rem);
}
h2 {
  color: var(--highlight);
  font-family: Dancing Script;
}
a {
  color: var(--main);
}
a:hover {
  color: #DC554F;
}
a:link {
  text-decoration: none;
}
.navigation {
  font-size: 0.7rem;
  font-size: clamp(0.7rem, 0.25rem + 1.5vw, 1rem);
}

footer {
  font-size: .9rem;
  display: block;
  margin: 3rem 0;
  font-size: 0.7rem;
  font-size: clamp(0.7rem, 0.25rem + 1.5vw, 1rem);
}
#nav-contact .nav-contact a,
#nav-publications .nav-publications a,
#nav-resume .nav-resume a {
  color: var(--alt);
}

/* Home */
p {
  font-family: 'Bree Serif', serif;
  text-align: center;
  font-size: 1.1rem;
  font-size: clamp(1.1rem, 0.45rem + 2.6vw, 2.4rem);
  line-height: 1.5rem;
  line-height: clamp(1.5rem, 1rem + 2vw, 2.5rem);;
}
.under-position {
  position: relative;
}
.under {
  position: absolute;
  top: 1.9em;
  left: -12em;
  font-size: .55em;
  line-height: 1em;
  width: 10em;
  color: var(--alt);
  font-family: 'Dancing Script', cursive;
  text-align: right;
}
.emoji {
  width: 1.2em;
  height: 1.2em;
}
#prexel, #california {
  margin-left: .2em;
}
 #dog {
   margin-left: .4em;
 }
 #boba {
   margin-left: -.2em;
 }
 
#features {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 1rem;
  margin: 3rem auto 0;
  max-width: 80vw;
}
.feature {
  flex: 1 1 10rem;
  background: var(--feature);
  padding: .5rem;
  border-radius: .5rem;
  display: flex;
  flex-flow: column;
}
#features p {
  font-family: 'Rubik', sans-serif;
  font-size: 0.7rem;
  font-size: clamp(0.7rem, 0.25rem + 1.5vw, 1rem);
  line-height: 1rem;
}



/* Contact */
#contact ul {
  list-style: none;
  padding-left: 3rem;
}
#contact li {
  line-height: 2rem;
  padding: .4rem 0;
}
.social-container {
  position: relative;
}
.social-container:hover {
  color: var(--alt);
}
.social-icon {
  display: inline-block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: -2.6rem;
  top: -.4rem;
}
footer .social-icon {
  top: -.5rem;
}
#linkedin {
  background: url("../img/linkedin.svg") 0%/2rem no-repeat;
}
.social-container:hover #linkedin {
  background: url("../img/linkedin-hover.svg") 0%/2rem no-repeat;
}
#twitter {
  background: url("../img/twitter.svg") 0%/2rem no-repeat;
}
.social-container:hover #twitter {
  background: url("../img/twitter-hover.svg") 0%/2rem no-repeat;
}
#instagram {
  background: url("../img/instagram.svg") 0%/2rem no-repeat;
}
.social-container:hover #instagram {
  background: url("../img/instagram-hover.svg") 0%/2rem no-repeat;
}
#powerpage {
  background: url("../img/powerpage.svg") 0%/2rem no-repeat;
}
.social-container:hover #powerpage {
  background: url("../img/powerpage-hover.svg") 0%/2rem no-repeat;
}
#email {
  background: url("../img/email.svg") 0%/2rem no-repeat;
}
.social-container:hover #email {
  background: url("../img/email-hover.svg") 0%/2rem no-repeat;
}
#jason-email {
  display: inline-block;
  position: inherit;
  top: .5rem;
  width: 8rem;
  line-height: 2rem;
  background: url("../img/jason-email.png") no-repeat;
  background-size: 8rem;
}
.social-container:hover #jason-email {
  background: url("../img/jason-email-hover.png") no-repeat;
  background-size: 8rem;
}

/* Publications */

#publications ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 1rem;
  margin: 0 auto;
  max-width: 30rem;
  list-style: none;
  padding: 0;
}
#publications li {
  flex: 1;
  max-width: 15rem;
  background: var(--feature);
  border-radius: .5rem;
}
#publications img {
  display: inline-block;
  height: 5rem;
  width: 3.22rem;
  vertical-align: top;
}
#publications a {
  display: flex;
  flex-flow: row nowrap;
  padding: .5rem;
  gap: 1rem;
  justify-content: space-between;
}
.pub-text {
  text-align: left;
  min-width: 8rem;
  padding: .2rem 0 0 .5rem;
}
#publications span {
  font-size: .7rem;
}

/* Resume */
#resume {
  max-width: 30rem;
}
#resume ul {
  text-align: left;
}
#resume li {
  margin-bottom: 1rem;
  font-size: .8rem;
}
#resume h1, h2, h3, h4 {
  margin: 0 auto;
  font-weight: normal;
}
#resume h1 {
  font-size: 1.5rem;
}
#resume h2 {
  font-size: 1.2rem;
  margin-top: 2.5rem;
  color: var(--alt);
}
#resume span {
  color: var(--highlight);
}
#resume h4#address {
  margin-top: 2rem;
  font-size: .8rem;
  font-weight: 500;
  color: var(--highlight);
}

@media (max-width: 1000px) {
  #features {
    flex-flow: row wrap;
    max-width: 60vw;
  }
  .feature {
    min-width: 40%;
  }
}
